/*
p {
  border-style: dashed;
  border-color: yellow;
  border-width: 3px;
  
}*/

span {
  box-sizing: border-box;
  border: 8px solid black;
  padding: 80px;
  width: 25%;
  height: 250px;
  display: inline-block;
  margin: 10%;
  border-style: dashed;
  border-width: 10px solid blue;
  border-radius: 15px;
  display: flex;
}
body {
  margin: 0;
  padding: 0;
}