.prvidiv{
  background-color: blue;

}
.drugidiv {
  background-color: chocolate;
}
.trecidiv {
  background-color: crimson;
}
.cetvrtidiv {
  background-color: darkmagenta;
}
#container {
  background-color: silver;
  display: flex; 
  
}
#container div {
  display: inline-block;
 
}