h3 {
  color: green;
  text-decoration: line-through;
}

p {
  color: rgb(67, 90, 19);

}
#prvi {
  text-align: right;
}
.zuta_pozadina {
  background-color: yellow;
  font-weight: bold;
}
body {
  margin: 50px;
}
